@import '_variables';
@import '_mixin';

.brand {
    &-list {
        position: relative;
        padding: 83px 0 79px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #827E7E;
        }
        & .col-lg {
            display: flex;
            justify-content: center;
        }
    }
    @include maxWidth(1023px) {
        &-list {
            padding: 83px 0 49px;
            & .col-lg {
                margin-bottom: 30px;
            }
        } 
    }
    @include maxWidth(767px) {
        &-list {
            padding: 40px 0 20px;
            & .col-lg {
                width: 33.3333%;
            }
        }
    }
}