@import '_variables';

.btn-scroll {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $green;
    box-shadow: 0 0 10px $green;
    cursor: pointer;
    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 2rem;
        color: #fff;
    }
}