@import 'variables';
@import 'mixin';

.header {
    @include bgc($green);
    &-voucher p {
        padding: 13px 0;
        font-size: 0.875rem;
        color: #fff;
    }
    &-language {
        & ul {
            padding: 11px 0;
            list-style: none;
            color: #fff;
            display: flex;
            & li {
                padding: 0 5px;
                & img {
                    margin-top: 7px;
                    margin-right: 8px;
                    width: 16px;
                    height: 10px;
                    float: left;
                }
                & a {
                    color: #fff;
                }
                & i {
                    margin-top: 3px;
                }
            }
            & i {
                cursor: pointer;
            }
        }
    }
    @include maxWidth(767px) {
        display: none;
    }
}
