@import '_variables';
@import '_mixin';

.news {
    &-title {
        display: flex;
        justify-content: center;
        position: relative;
        & h4 {
            font-size: 1.875rem;
            &::after {
                content: '';
                position: absolute;
                bottom: -35%;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                height: 4px;
                @include bgc($green);
            }
        }
    }
    & .news-body {
        padding-top: 25px;
        & .calendar {
            font-size: .875rem;
            color: $green;
        }
        & h5 {
            margin: 13px 0 11px;
            font-size: .813rem;
        }
        & p {
            font-size: .813rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    @include maxWidth(767px) {
        & .news-title {
            & h4 {
                font-size: 1.25rem;
                &::after {
                    height: 3px;
                }
            }
        }
        & .news-body {
            padding-top: 10px;
        }
    }
}