.sub-header {
    background: #e5e5e5;
    padding: 15px 0;
    & p {
        color: #6c757d;
        
        & a {
            color: #000;
            &:hover {
                color: #007bff;
                text-decoration: underline;
            }
            & i {
                width: 30px;
            }
        }
    }
}