.take-care {
    background: #f8f9fa;
    &-list {
        background: #fff;
        padding:16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        & .take-care-item {
            display: flex;
            margin-bottom: 20px;
            & img {
                width: 50%;
                height: 300px;
                object-fit: cover;
            }
            & .take-care-body {
                position: relative;
                width: 50%;
                margin-left: 20px;
                padding-top: 30px;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 18%;
                    left: 0;
                    width: 78%;
                    height: 2px;
                    background: #ccc;
                }
                & h3 {
                    margin-bottom: 20px;
                }
                & p {
                    text-align: justify;
                }
                & a {
                    position: absolute;
                    bottom: 12%;
                    right: 0;
                    padding: 5px 16px;
                    color: #000;
                    text-transform: uppercase;
                    border: 3px solid #ccc;
                    &:hover {
                        border: 3px solid $green;
                    }
                }
            }
        }
    }
    @include maxWidth(1023px) {
        &-list {
            & .take-care-item {
                & .take-care-body {
                    padding-top: 0;
                    &::before {
                        width: 62%;
                    }
                    & h3 {
                        font-size: 1.25rem;
                    }
                    & p {
                        color: $darkGrey;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    & a {
                        border: 2px solid #ccc;
                    }
                }
            }
        }
    }
    @include maxWidth(767px) {
        &-list {
            & .take-care-item {
                flex-direction: column;
                margin-bottom: 20px;
                & img {
                    width: 100%;
                }
                & .take-care-body {
                    margin-top: 20px;
                    margin-left: 0;
                    width: 100%;
                    height: 200px;
                    &::before {
                        bottom: 5%;
                        width: 67%;
                    }
                    & h3 {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    & a {
                        bottom: -4%;
                    }
                }
            }
        }
    }
}